*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: #222;
    color: #ddd;
}

h2
{
    margin: 18px 0;
    text-align: center;
}

.flashcard-container .flashcard
{
    width: 324px;
    height: 484px;
    margin: 18px auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    background-color: #333;
    
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.flashcard-container .flashcard .top
{
    margin-top: 26px;
    text-align: center;
}

.flashcard-container .flashcard .top .top-content
{
    font-size: 18px;
    opacity: 0.75;
}

.flashcard-container .flashcard .top .top-translate
{
    font-size: 18px;
    opacity: 0.75;
    display: none;
}

.flashcard-container .flashcard .card-word .translate
{
    display: none;
}

.flashcard:active > .top .top-translate, .flashcard:active > .card-word .translate
{
    display: block;
}

.flashcard:active > .card-word .content, .flashcard:active > .top .top-content
{
    display: none;
}

.flashcard-container .flashcard .card-word
{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flashcard-container .hidden
{
    display: none;
}

.dots-container
{
    width: 204px;
    height: 12px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 36px auto;
}

.dots-container .left-arrow
{
    width: 24px;
    height: 12px;
    margin-right: 18px;
}

.dots-container .right-arrow
{
    width: 24px;
    height: 12px;
    margin-left: 18px;
}

.dots-container .dot
{
    width: 12px;
    height: 12px;
    margin: 0 6px;
    border-radius: 50%;
    border: #bbb 2px solid;
}

.dots-container .active
{
    border: none;
    background: #ddd;
}

.dots-container .material-icons
{
    margin-top: -6px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media screen and (max-width: 400px) {
    h2
    {
        margin: 18px;
        text-align: left;
    }
  }